.results-container {
  position: absolute;
  top: 60%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.result-card {
  width: 70%;
  border: 1px solid #2b0001;
  background-color: rgba(8, 8, 8);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.result-card-img {
  width: 35%;
  height: 260px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.result-video-info {
  display: grid;
  width: 70%;
  margin-left: 20px;
}

.result-title {
  font-size: 1.5rem;
}

.result-account {
  display: flex;
  align-items: center;
  width: 40%;
}

.result-avatar-icon {
  font-size: 2em !important;
  color: white;
  margin-right: 10px;
}
.result-account-verified-icon {
  font-size: 0.7em !important;
  color: white;
  margin-left: 10px;
}
