.video-card {
  position: relative;
  cursor: pointer;
}

.video-card-title {
  position: absolute;
  bottom: 0%;
  color: black;
  font-size: 0.8rem;
  font-weight: 700;
  min-height: 23%;
  max-height: 23%;
  width: 100%;
  background-color: grey;
  background-image: linear-gradient(
    315deg,
    rgb(105, 2, 2) 0%,
    rgb(255, 0, 0) 90%
  );
  background: white;
  overflow: hidden;
}

.video-thumbnail {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.video-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}
.video-card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
}
