.video-card {
  position: relative;
  cursor: pointer;
}

.play-icon {
  position: absolute;
  top: 5%;
  right: 5%;
  color: white;
  font-size: 2em !important;
}

.video-card-title {
  position: absolute;
  bottom: 0%;
  color: white;
  font-size: 1rem;
  font-weight: 700;
}

.video-thumbnail {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.video-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}
.video-card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.2);
}
