.videocard {
  /* border-radius: 40px; */
  width: 265px;
  height: 175px;
  cursor: pointer;
  position: relative;
  border: 1px solid black;
  /* border: 1px solid #2b0001; */
  /* -webkit-box-shadow: 0px 26px 28px -5px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 26px 28px -5px rgba(0, 0, 0, 0.41); */
}

.videocard-details {
  content: "";
  position: absolute;
  width: 100%;
  height: 17%;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  transition: 5s ease-in-out in;
  overflow: hidden;
}
.videocard-details:hover {
  height: 100%;
}
.videocard-title {
  /* color: white; */
  position: absolute;
  text-align: center;
  font-size: 1.2rem;
}

.videocard-img {
  height: 100%;
  width: 100%;
  /* margin-bottom: 10px; */
  /* border-radius: 40px; */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 23px 46px -14px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 23px 46px -14px rgba(0, 0, 0, 0.59);
}
/* .videocard-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
} */
.videocard-likes-view-icon-container {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  color: white;
}

.videocard-play-icon-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgb(255, 255, 255, 0.4);
}

.videocard-play-icon-container:hover {
  opacity: 1;
}

.videocard-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  font-size: 4em !important;
}
.videocard-play-icon:hover {
  font-size: 5rem !important;
  color: black;
}

/* -----VideoCard Row----- */
.videocard-row-container {
  height: 100%;
}

.videocard-row {
  height: 80%;
  display: grid;
  align-items: center;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 3%;
}

.videocard-row-title {
  font-size: 2rem;
  width: 98%;
  margin: 15px 0;
  margin-left: 10px;
  border-bottom: 1px solid black;

  /* border-bottom: 2px solid rgb(43, 0, 1, 0.3); */
}

/* New video card-styling unsure ???? */

.videocard-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.videocard-avatar-icon-container {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
}
.videocard-avatar-icon {
  font-size: 3rem !important;
  color: black;
}

.videocard-views-like-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  padding-right: 5px;
}

.videocard-views-icon {
  color: black;
}
.videocard-heart-icon {
  color: black;
}
