.featured-video-frame-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.featured-video {
  height: 60vh;
  width: 70vw;
  object-fit: cover;
  object-position: center;
  -webkit-box-shadow: -1px 19px 21px 10px rgba(0, 0, 0, 0.34);
  box-shadow: -1px 19px 21px 10px rgba(0, 0, 0, 0.34);
}

.featured-video-header {
  color: black;
  font-size: 2rem;
}
