.main-sidebar {
  width: 5vw;
  height: 100%;
  background: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.toggle-main-sidebar {
  width: 12%;
  background: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .main-sidebar {
    display: none;
  }
}
