.videodetails-account {
  margin: 3% 0;
  display: flex;
}
.videodetails-account-info {
  width: 70%;
  margin-left: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videodetails-name-subscribers-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.videodetails-account-name {
  font-size: 1.2rem;
}
.videodetails-account-subscribers {
  font-size: 0.8rem;
}

.videodetails-avatar-icon {
  font-size: 4em !important;
  color: rgba(8, 8, 8);
}
.videodetails-account-verified-icon {
  color: rgba(8, 8, 8);
}

.videodetails-video-description {
  word-spacing: 1.7px;
}

.videodetails-subscribe-button {
  padding: 11px;
  background: rgba(8, 8, 8);
  cursor: pointer;
  font-size: 1.2rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 2px;
}

.videodetails-subscribe-button:hover {
  color: black;
  background: whitesmoke;
  border: 2px solid black;
}
