.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: grey;
  background-image: linear-gradient(315deg, rgb(105, 2, 2) 0%, red 90%);
  border-radius: 10px;
  height: 10vh;
  color: white;
  font-weight: bolder;
}
