.popular-channels {
  display: flex;
  justify-content: space-between;
  min-width: 60%;
}

.popular-channel-avatar {
  width: 10%;
  border-radius: 50%;
  margin-right: 25px;
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
  object-fit: cover;
}

.popular-channel-avatar:hover {
  border: 1px solid red;
}

.popular-channels-span {
  color: red;
}
