.popular-channels {
  display: flex;
  min-width: 60%;
}

.popular-channel-avatar {
  box-sizing: border-box;
  width: 5em;
  border-radius: 5em;
  margin-right: 25px;
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
  object-fit: cover;
}

.popular-channel-avatar:hover {
  border: 1px solid red;
}

.popular-channels-span {
  color: red;
}
