.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
}

.rows-card-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid lightgrey;
  padding: 25px;
}

.rows-title {
  font-size: 1.6rem;
  color: rgb(83, 83, 83);
}
