.rows {
  display: flex;
  flex-direction: column;
  margin: 2% 0;
}

.rows-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 35px;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

.rows-title {
  font-size: 1.6rem;
  color: rgb(83, 83, 83);
  margin: 2% 1%;
}
