.searchbar {
  background: rgb(8, 8, 8);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 100%;
  grid-area: searchbar;
  color: black;
  -webkit-box-shadow: 5px 5px 21px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 5px 5px 21px -5px rgba(0, 0, 0, 0.68);
}

.searchbar-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchbar-input-container {
  width: 40%;
  display: flex;
  align-items: center;
  border: 1px solid white;
  color: white;
}
.searchbar-input {
  width: 90%;
  padding: 10px;
  outline: none;
}

.searchbar-search-icon {
  font-size: 2rem !important;
  cursor: pointer;
  text-decoration: none;
}
.searchbar-avatar-icon {
  cursor: pointer;
  margin-right: 2%;
}
.searchbar-home-icon:hover,
.searchbar-login:hover {
  border-bottom: 1px solid whitesmoke;
}

.youtube-logo {
  height: 3.5em;
  margin-left: 2%;
}

.searchbar-login {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  margin-right: 2%;
  padding: 6px;
  border: 1px solid transparent;
  animation: border 1s infinite alternate-reverse;
}

.searchbar-login:hover {
  border: 1px solid white;
}

@keyframes border {
  20% {
    border-top: 1px solid white;
  }
  40% {
    border-right: 1px solid white;
  }
  60% {
    border-bottom: 1px solid white;
  }
  80% {
    border-left: 1px solid white;
  }
  100% {
    border: 1px solid transparent;
  }
}
