.searchbar {
  background: whitesmoke;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  grid-area: searchbar;
  color: black;
  /* -webkit-box-shadow: 5px 5px 21px -5px rgba(0, 0, 0, 0.68);
  box-shadow: 5px 5px 21px -5px rgba(0, 0, 0, 0.68); */
}

.searchbar-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.searchbar-input-container {
  width: 50%;
  display: flex;
  align-items: center;
  background: rgb(226, 226, 226, 0.7);
}
.searchbar-input {
  width: 90%;
  padding: 1%;
  outline: none;
  border: none;
  border-right: 1px solid grey;
  background: rgb(226, 226, 226, 0.7);
}

.searchbar-search-icon-container {
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar-search-icon {
  font-size: 1.7rem !important;
  cursor: pointer;
  text-decoration: none;
  color: grey;
}
.searchbar-avatar-icon {
  cursor: pointer;
  margin-right: 2%;
}

.youtube-logo {
  height: 3.5em;
  margin-left: 2%;
}

.searchbar-login {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-right: 2%;
  padding: 6px;
  color: rgb(124, 124, 124);
  border: 1px solid transparent;
  animation: border 1s infinite alternate-reverse;
}

.searchbar-login:hover {
  border: 1px solid #ff073a;
}

@keyframes border {
  20% {
    border-top: 1px solid #ff073a;
  }
  40% {
    border-right: 1px solid #ff073a;
  }
  60% {
    border-bottom: 1px solid #ff073a;
  }
  80% {
    border-left: 1px solid #ff073a;
  }
  100% {
    border: 1px solid transparent;
  }
}
