.watchvideo {
  padding: 20px;
  height: 100%;
  display: flex;
}
.videoplayer-container {
  width: 75%;
}

.videoplayer {
  height: 535px;
  width: 951px;
}

.video-left-container {
  min-width: 50%;
}
