.watchvideo {
  padding: 20px;
  height: 100%;
  border: 3px solid green;
}
.videoplayer-container {
  width: 70%;
}

.videoplayer {
  border: 1px solid red;
  height: 535px;
  width: 951px;
}

.video-left-container {
  width: 70%;
}
