.watchvideo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videoplayer-container {
  width: 75%;
}

.videoplayer {
  height: 70vh;
  width: 100vw;
}

.video-left-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1244px) {
  .videoplayer {
    height: 435px;
    width: 851px;
  }
}
@media only screen and (max-width: 1248px) {
  .videoplayer {
    height: 335px;
    width: 751px;
  }
}
@media only screen and (max-width: 1040px) {
  .videoplayer {
    height: 335px;
    width: 681px;
  }
}
@media only screen and (max-width: 868px) {
  .videoplayer {
    height: 335px;
    width: 601px;
  }
}
@media only screen and (max-width: 692px) {
  .videoplayer {
    height: 235px;
    width: 501px;
  }
}
