.iframe-banner {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  border-radius: 10px;
}

.iframe-banner-main-video {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.iframe-banner-main-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}

.iframe-banner-videos-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 10px;
  border-radius: 10px;
}

/* Home Iframe */

.home-iframe-banner {
  display: flex;
  padding: 2%;
  min-height: 600px;
}

.home-iframe-banner-main-video {
  min-width: 75%;
  border-radius: 10px;
  transition: 0.5s ease-out;
}

.home-iframe-banner-main-video:hover {
  min-width: 100%;
  border-radius: 10px;
}

.home-iframe-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  border-radius: 10px;
}
