.comments {
  grid-area: comments;
  display: flex;
  flex-direction: column;
}

.comment {
  background: rgb(224, 224, 224, 0.8);
  color: white;
<<<<<<< HEAD
  width: 90%;
=======
>>>>>>> d50ab875a761d118628722db6af7c4e841c84e28
  margin: 4% 0;
  border-radius: 5px;
  border: 2px solid transparent;
}

.comments-header {
  margin: 4%;
}

.comment-author {
  display: flex;
  align-items: center;
  padding: 3%;
  border-bottom: 1px solid black;
  border-radius: 5px;
}

.comment-author-name {
<<<<<<< HEAD
  margin-left: 10px;
  text-align: center;
=======
  width: 100%;
>>>>>>> d50ab875a761d118628722db6af7c4e841c84e28
  color: black;
  margin-left: 15px;
  font-size: 1.1rem;
}

.comment-text {
  overflow: hidden;
  color: black;
  font-size: 0.8rem;
  padding: 3%;
  border-radius: 5px;
  border-radius: 5px;
}
