.comments {
  grid-area: comments;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(8, 8, 8);
  overflow-y: scroll;
}

.comment {
  background: rgb(216, 210, 210);
  color: white;
  width: 90%;
  min-height: 220px;
  margin: 4% 0;
}
