.recommended {
  /* border: 1px solid black; */
  height: 100%;
  width: 50%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.recommendedvideocard {
  display: flex;
  width: 100%;
  /* border: 1px solid blue; */
  margin: 5% 0;
}

.recommended-video-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommended-thumbnail {
  width: 203px;
  height: 100px;
  object-fit: contain;
}

.recommended-title {
  font-size: 1.2rem;
  font-weight: bolder;
}
.recommended-account {
  font-size: 1rem;
  font-weight: bold;
}
.recommended-views {
  font-size: 0.9rem;
  font-weight: bold;
}
