/* Global Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background: rgba(65, 63, 63, 0.3);
  width: 100vw;
  height: 100%;
}
.router-link {
  color: white;
  text-decoration: none;
}

.App {
  height: 100vh;
  width: 100vw;
}
.app-fixed-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-content {
  display: flex;
  width: 100%;
  height: 82.5%;
}

.app-home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  width: 100%;
  margin-left: 5%;
}

.app-watch {
}

@media only screen and (max-width: 1200px) {
  .app-home {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .app-home {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .app-home {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    justify-content: center;
    margin-left: 20%;
  }
}
