/* Global Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  background: rgba(240, 234, 234, 0.5);
}

.App {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.45fr 1fr 0.5fr 1fr 1fr;
  grid-template-areas:
    "searchbar searchbar searchbar searchbar searchbar "
    "suggestions  videoplayer videoplayer videoplayer  comments"
    "suggestions  videoplayer videoplayer videoplayer  comments"
    "suggestions  videoplayer videoplayer videoplayer  comments"
    "suggestions  addcomment addcomment addcomment  comments";
  grid-gap: 10px;
}
::-webkit-scrollbar {
  width: 0px;
}
