/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgba(240, 234, 234, 0.5);
  background: whitesmoke;
}

.App {
  position: relative;
  left: 12%;
  height: 100vh;
  overflow-y: scroll;
  width: 88%;
  background: white;
}

.Watch {
  position: relative;
  display: flex;
}

.watch-left-container {
  max-height: 65vh;
  flex: 0.85;
}

.channel {
  background: rgb(212, 212, 212);
  padding: 3%;
}

::-webkit-scrollbar {
  width: 0px;
}

/* .app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: space-evenly;
  margin: 5% 2%;
} */
